<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="debit" class="com.myapp.Debit" />
    <bean id="credit" class="com.myapp.Credit" />
    <bean id="upi" class="com.myapp.UPI" />

    <bean id="orderService" class="com.myapp.OrderService">
<!--        <property name="paymentMethod" ref="upi"/> // Setter injection-->
        <property name="paymentMethod" ref="credit"/>
<!--        Single param constructor -->
<!--        <property name="paymentMethod" ref="debit"/>-->
<!--        <constructor-arg ref="upi" /> // Constructor Injection-->
<!--        Or  for multiple parameter constructor -->
        <!--        <property index="0" ref="upi" />-->
        <!--        <property index="1" value="Harsit" />-->
    </bean>
</beans>
