# Ignore node_modules
node_modules/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore compiled C files
*.o
*.out

# Ignore build artifacts
dist/
build/

# Ignore environment files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore class files
*.class