<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customer" class="com.myapp.Customer">
        <property name="name" value="Harsit" />
        <property name="email" value="harsit@gmail.com" />
        <property name="age" value="151" />
        <property name="User" ref="user" />
    </bean>
    <bean id="user" class="com.myapp.User" />
</beans>
